## 練習時間
假設我們資料中類別的數量並不均衡，在評估準確率時可能會有所偏頗，試著切分出 y_test 中，0 類別與 1 類別的數量是一樣的 (亦即 y_test 的類別是均衡的)

In [1]:
import numpy as np
X = np.arange(1000).reshape(200, 5)
y = np.zeros(200)
y[:40] = 1

In [2]:
y

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

可以看見 y 類別中，有 160 個 類別 0，40 個 類別 1 ，請試著使用 train_test_split 函數，切分出 y_test 中能各有 10 筆類別 0 與 10 筆類別 1 。(HINT: 參考函數中的 test_size，可針對不同類別各自作切分後再合併)

In [24]:
from sklearn.model_selection import train_test_split
import pandas as pd
data_1_X = X[:40]
data_1_y = y[:40]
data_0_X = X[40:]
data_0_y = y[40:]
data_1_X_train, data_1_X_test, data_1_y_train, data_1_y_test = train_test_split(data_1_X, data_1_y, test_size = 0.25, random_state=42)
data_0_X_train, data_0_X_test, data_0_y_train, data_0_y_test = train_test_split(data_0_X, data_0_y, test_size = 1/16, random_state=42)

# pd.concat([data_1_y_train, data_0_y_train], axis = 0)

data = pd.DataFrame(np.append(data_0_X_test, data_1_X_test, axis=0))
data['y'] = pd.Series(np.append(data_1_y_test, data_0_y_test))

In [25]:
data

      0    1    2    3    4    y
0   725  726  727  728  729  1.0
1   740  741  742  743  744  1.0
2   905  906  907  908  909  1.0
3   475  476  477  478  479  1.0
4   670  671  672  673  674  1.0
5   345  346  347  348  349  1.0
6   705  706  707  708  709  1.0
7   455  456  457  458  459  1.0
8   700  701  702  703  704  1.0
9   910  911  912  913  914  1.0
10   95   96   97   98   99  0.0
11   80   81   82   83   84  0.0
12   75   76   77   78   79  0.0
13  130  131  132  133  134  0.0
14   20   21   22   23   24  0.0
15   60   61   62   63   64  0.0
16  185  186  187  188  189  0.0
17  135  136  137  138  139  0.0
18  195  196  197  198  199  0.0
19   30   31   32   33   34  0.0