# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [33]:
import pandas as pd
import numpy as np
import pycountry

In [34]:
# type1
sample_size = 20
countries = [country.name for country in random.sample(list(pycountry.countries), sample_size)]
population = np.random.randint(1000, size=sample_size)
data = {'國家': countries,
        '人口': population}
df = pd.DataFrame(data)
df

                                       國家   人口
0                                Ethiopia  274
1                               Argentina  756
2                                 Belgium  570
3                                 Bahrain  566
4                           Bouvet Island   57
5   Congo, The Democratic Republic of the  627
6                                    Guam  612
7                                  Guinea  713
8                          American Samoa  643
9                                 Austria   36
10                               Colombia  776
11                                Finland  502
12                                 Belize    8
13                   United Arab Emirates  909
14                              Greenland  479
15            French Southern Territories  421
16                               Ethiopia  785
17                            Afghanistan  766
18                                   Guam  474
19                               Ethiopia  538

In [35]:
# type2

df_index = ['國家', '人口']
df_value = [countries, population]
df = pd.DataFrame(dict(zip(df_index, df_value)))
df

                                       國家   人口
0                                Ethiopia  274
1                               Argentina  756
2                                 Belgium  570
3                                 Bahrain  566
4                           Bouvet Island   57
5   Congo, The Democratic Republic of the  627
6                                    Guam  612
7                                  Guinea  713
8                          American Samoa  643
9                                 Austria   36
10                               Colombia  776
11                                Finland  502
12                                 Belize    8
13                   United Arab Emirates  909
14                              Greenland  479
15            French Southern Territories  421
16                               Ethiopia  785
17                            Afghanistan  766
18                                   Guam  474
19                               Ethiopia  538